# Python Fundamentals

## Lists

In [1]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

In [2]:
a[1]

2

Note indexes start from 0 in Python

In [3]:
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [4]:
a*b

TypeError: can't multiply sequence by non-int of type 'list'

In [10]:
a/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

## Loops

In [8]:
import random 
import numpy as np
lst1 = random.sample(range(1, 10**8), 10**7) 
lst2 = random.sample(range(1, 10**8), 10**7) 
list1_np = np.array(lst1) 
list2_np = np.array(lst2)

In [9]:
%%timeit 
out2 = np.multiply(list1_np, list2_np)

19.1 ms ± 524 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)